# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# PyCharm
.idea/

# Models
*.pt
*.pth

# OS
.DS_Store
Thumbs.db

# Datasets
data/

# Training and evaluation outputs
results/
runs/

# Videos
videos/